<form asp-action="GPTB1">

    <label>He so A</label>
    <input type="text" name="hesoA">
    <br>
    <label>He so B</label>
    <input type="text" name="hesoB">
    <br>
    <input type="submit" value="Giai phuong trinh">

</form>

<h2>@ViewBag.message</h2>